<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

{% block content %}
<h1> {{t}} </h1>

<img src= {{p}}>



<h2>Behavior and Ecology</h2>

<h3>{{b}}</h3>



<h2>Extermination</h2>

<h3>{{e}}</h3>


<h3>{{l}}</h3>
  <ul>
       {% for post in posts %}
        <li><b>{{ post.animals.username.name }}</b></li>
       {% endfor %}
    </ul>






{% endblock %}

