<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

{% block app_content %}
<h1>{{t}}</h1>
<br>

<table class="table-bordered table-striped table-hover">
    <thread class="thread-dark">
    <tr>
        <th class="text-center">Behavior and Ecology</th>
        <th class="text-center">Extermination</th>
        <th class="text-center">Location</th>
        <th class="text-center">Habitat(s)</th>
    </tr>
    </thread>
    <tr>


<img src= {{p}}>





<td class="text-center">{{b}}</td>





<th class="text-center">{{e}}</th>


<td class="text-center">{{l}}</td>

  <td class="text-center"><ul>
       {% for post in posts %}
        <li><b>{{ post.animals.username.name }}</b></li>
       {% endfor %}
  </ul></td>
    </tr>
</table>

<br>






{% endblock %}

